@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothaProLig.otf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header-main {
    height: 800px;
    background: url("img/slider-img.jpg");
}

.header .logo {
    margin-top: 63px;
    margin-left: 98px;
}

.header .menu {
    float: right;
    margin-top: 62px;
    margin-right: 196px;
}

.header .menu li {
    display: block;
    float: left;
    margin: 0 3px;
    height: 22px;
}

.header .menu a {
    font-family: "Montserrat Light", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #8c8c8c;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 0 10px;
    margin: 3px 0;
}


.header .menu li:hover {
    border-bottom: 3px solid #000;
}

.header .menu a:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.header-text {
    float: left;
    width: 496px;
    margin-top: 280px;
    margin-left: 97px;
}

.header-text h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #43a047;
    letter-spacing: 1.8px;
    margin-bottom: 1px;
}

.header-text h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -4.4px;
    word-spacing: 12px;
    margin-bottom: 14px;
}

.header-text p {
    color: #6c6c6c;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 22px;
    margin-bottom: 31px;
}

a.button1 {
    display: block;
    width: 182px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    line-height: 45px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.2px;
    text-decoration: none;
    padding-left: 30px;

}

a.button:hover {
    background: url("img/arrow.png") no-repeat 173px 15px;
}

.center {
    width: 1170px;
    margin: 0 auto;
    clear: both;
}

.product-box .sort {
    margin-top: 112px;
    margin-right: 20px;
}

.sort a {
    display: block;
    float: left;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #6c6c6c;
    letter-spacing: -1px;
    padding-right: 19px;
    padding-left: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #212121;

}

.product-box .sort a:last-child {
    padding-left: 8px;
    padding-right: 23px;
    padding-bottom: 12px;
}

.product-box .active {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.product-box .explore {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.4px;
    text-decoration: none;
    padding-right: 14px;
    background: url("img/arrow.png") no-repeat 170px;
    margin-top: 21px
}

.product-box .products {
    clear: both;
    float: left;
    margin-top: 50px;
}

.products > div {
    width: 270px;
    height: 270px;
    float: left;
    position: relative;
    margin-right: 30px;
}

.products > div:nth-child(4n) {
    margin-right: 0;
}

.products > div:hover {
    outline: 1px solid black;
}

.products .div-opacity {
    position: absolute;
    width: 270px;
    height: 270px;
    background: #fff;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.products .div-opacity:hover {
    opacity: 0.9;
}

.products .div-opacity h2 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 8px;
    letter-spacing: -0.5px;
}

.products .div-opacity p {
    color: #6c6c6c;
    width: 210px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.1px;
    padding-top: 14px;
    line-height: 20px;

}

.back-arrow {
    width: 56px;
    height: 56px;
    background: url("img/back.png") no-repeat;
    background-size: cover;
    margin-top: 61px;
    margin-left: 107px;
}

.back-arrow .arrow {
    width: 48px;
    height: 48px;
    background: url("img/arrow.png") no-repeat 22px 17px;
    background-size: 12px;
    ;
}

.promo-box {
    margin-top: 120px;
    float: left;
}

.promo-box .promo {
    float: left;
    position: relative;
}

.promo-box .promo div {
    position: absolute;
    top: 224px;
    left: 48px;
    width: 380px;
}

.promo-box .promo h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
}

.promo-box .promo h2 {
    color: #212121;
    margin-top: 8px;
    margin-left: 2px;
    letter-spacing: -1px;
    font-size: 36px;
    font-weight: 700;
}

.promo-box .promo p {
    color: #6c6c6c;
    margin-top: 8px;
    margin-left: 2px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 23px;
    margin-bottom: 31px;
}


.trending-box .explore {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.4px;
    text-decoration: none;
    padding-right: 13px;
    background: url("img/arrow.png") no-repeat 170px;
    margin-top: 130px
}

.trending-box h3 {
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 109px;
    letter-spacing: -1.3px;
}

.trending-box .products {
    float: left;
    margin-top: 61px;
}

.trending-box .products img {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.trending-box .products img:nth-child(3n) {
    margin-right: 0;
}

.slider-bottom {
    clear: both;
    float: left;
    width: 1366px;
    height: 800px;
    background: url("img/slider.jpg");
    margin-top: 91px;
}

.slider-text {
    float: left;
    margin-top: 284px;
    margin-left: 96px;
}

.slider-text h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
}

.slider-text h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -4.8px;
    word-spacing: 15px;
}

.slider-text p {
    color: #6c6c6c;
    width: 470px;
    margin-left: 2px;
    margin-top: 13px;
    letter-spacing: -0.1px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 30px;
}

.product-box-bottom {}

.wrap-box-bottom {
    float: left;
    margin-top: 120px;
}

.product-box-bottom .exclusive-product {
    width: 570px;
    height: 570px;
    background: url("img/product-1-lg.jpg");
    float: left;
}

.product-box-bottom .products {
    float: left;
    width: 600px;
    font-size: 0;
}

.product-box-bottom .products img {
    margin-left: 30px;
    margin-bottom: 30px;
}

.exclusive-product div {
    margin-top: 186px;
    margin-left: 31px;
    width: 332px;
}

.exclusive-product span {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
}

.exclusive-product h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-product p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.app-box {
    clear: both;
    width: 1366px;
    height: 516px;
    background: url("img/back-img.jpg");
    float: left;
    margin-top: 92px;
}

.app-box div {
    float: left;
    margin-top: 60px;
    margin-left: 48px;
    width: 480px;
}

.app-box h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.2px;
}

.app-box h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -5.6px;
    line-height: 74px;
    word-spacing: 15px;
}

.app-box p {
    color: #6c6c6c;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin-bottom: 30px;
}

.footer {
    float: left;
    width: 1366px;
    height: 384px;
    background-color: #f7f7f7;
    position: relative;
}

.footer h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;

}

.footer .contacts {
    float: left;
    margin-top: 115px;
    margin-left: 99px;
    width: 221px;
}

.footer .contacts p {
    color: #212121;
    margin-top: 16px;
    letter-spacing: -0.2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
}

.footer .contacts p:last-child {
    margin-top: 20px;
}

.footer .information {
    float: left;
    margin-top: 115px;
    margin-left: 78px;
}

.footer .information div:nth-child(2) {
    width: 135px;
    color: green;
    float: left;
}

.footer .information div:nth-child(3) {
    width: 190px;
    float: left;
    margin-left: 100px;
}

.footer .information a {
    display: block;
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-top: 23px;
    line-height: 6px;
}

.footer .stay-touch {
    float: right;
    margin-top: 115px;
    margin-right: 102px;
    width: 365px;
}

.footer .stay-touch p {
    margin-top: 16px;
    letter-spacing: -0.2px;
    line-height: 20px;
}

.footer .stay-touch input {
    margin-top: 26px;
    height: 42px;
    width: 364px;
}

.footer .copyright {
    position: absolute;
    bottom: 36px;
    left: 98px;
    letter-spacing: 0.3px;
}

.footer .policy {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    bottom: 37px;
    right: 102px;
    letter-spacing: 0.3px;
}


/********** Страница Product Details ***************/

.related-box .explore {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.4px;
    text-decoration: none;
    padding-right: 13px;
    background: url("img/arrow.png") no-repeat 170px;
    margin-top: 130px
}

.related-box h3 {
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 109px;
    letter-spacing: -1.3px;
}

.related-box .products {
    float: left;
    margin-top: 61px;
}

.related-box .products img {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.related-box .products img:nth-child(3n) {
    margin-right: 0;
}

.nav-details {
    width: 100%;
    height: 70px;
    margin-top: 30px;
    background-color: #f4f4f4;
}

.nav-details ul {
    width: 725px;
    margin: 0 auto;
    height: 100%;
}

.nav-details li {
    display: block;
    list-style-type: none;
    float: left;
    height: 100%;
}

.nav-details a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #6c6c6c;
    padding: 0 20px;
    line-height: 70px;
}

.nav-details li:first-child a {
    padding-left: 0;
}

.nav-details li:last-child a {
    padding-right: 0;
}

.nav-details a:hover {
    color: #212121;
}

.product-details {
    float: left;
}

.img-details {
    float: left;
    margin-top: 70px;
    margin-left: 100px;
}

.img-min {
    width: 282px;
    padding-top: 10px;
    margin: 0 auto;
}

.img-min img {
    height: 70px;
    width: 70px;
    margin-left: 5px;
    ;
}

.text-details {
    float: left;
    width: 570px;
}

.text-details h1 {
    margin-top: 112px;
    margin-left: 194px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
}

.text-details h3 {
    margin-left: 260px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.4px;
}

.text-details .price {
    font-family: Gotham;
    margin-left: 190px;
    margin-top: 18px;
    font-weight: 100;
    font-size: 40px;
}

.text-details .price span.num {

    font-size: 72px;
    text-transform: uppercase;
    color: #212121;
}

.text-details a.button {
    /* Style for "btn" */
    display: block;
    margin-left: 53px;
    margin-top: 22px;
    width: 350px;
    height: 71px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    line-height: 71px;
    text-decoration: none;
    padding-left: 160px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.8px;
    margin-bottom: 46px;
}

.text-details p {
    color: #212121;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    margin-left: 58px;
    margin-bottom: 14px;
    letter-spacing: 0.3px;
    line-height: 22px;
}
